.container {
    flex-direction: column;
    overflow: auto;
    min-width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--main-border);
    padding: var(--main-padding);
    background: #fafafa;
    width: 50vh;
}
