<main>
    <section aria-labelledby="signup-form">
        <h3 id="signup-form">Please Register with below details:</h3>
        <div class="post-message" [ngClass]="{'post-error': !isPostSuccess, 'post-success': isPostSuccess}" *ngIf="postMessage">
                {{postMessage}}
        </div>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="input-container">
                <div>
                    <label for="firstName">First Name*:</label>
                    <input type="text" id="firstName" formControlName="firstName" placeholder="Enter First Name"
                           [class.error-border]="isFirstNameInvalid()">
                </div>
                <div class="error-class" *ngIf="isFirstNameInvalid()">
                    <small class="text-error">
                      FirstName is required.
                    </small>                      
                  </div>
            </div>

            <div class="input-container">
                <div>
                    <label for="lastName">Last Name*:</label>
                    <input type="text" id="lastName" formControlName="lastName" placeholder="Enter Last Name"
                           [class.error-border]="isLastNameInvalid()">
                </div>
                <div class="error-class" *ngIf="isLastNameInvalid()">
                    <small class="text-error">
                      LastName is required.
                    </small>                      
                  </div>
            </div>

            <div class="input-container">
                <div>
                    <label for="email" id="email-label">Email*:</label>
                    <input type="email" id="email" formControlName="email" placeholder="Enter Email"
                           [class.error-border]="isEmailInvalid()">
                </div>
                <div class="error-class" *ngIf="isEmailInvalid()">
                    <small class="text-error" *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.errors?.['required']">
                      Email is required.
                    </small>                      
                    <small class="text-error" *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.errors?.['email']">
                      Invalid Email.
                    </small>
                  </div>            
            </div>

            <div class="input-container">
                <div style="display: flex;">
                    <label for="password" id="password-label">Password*:</label>
                    <div class="password-wrapper">
                        <input [type]="passwordVisible ? 'text' : 'password'" class="form-control" placeholder="Enter Password" id="password" [class.error-border]="isPasswordInvalid() || isPasswordNameInvalid()" formControlName="password">
                        <span class="toggle-password" (click)="togglePasswordVisibility()">
                            <i [class]="passwordVisible ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                        </span>
                    </div>  
                </div>
               
                <div class="error-class" *ngIf="isPasswordInvalid()">
                  <small class="text-error" *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.errors?.['required']">
                    Password is required.
                  </small>                      
                  <small class="text-error" *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.errors?.['minlength']">
                    Password must be at least 8 characters.
                  </small>
                  <small class="text-error" *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.errors?.['passwordCase']">
                    Password must contain both upper and lower case letters.
                  </small>
                </div>
                <div class="error-class" *ngIf="isPasswordNameInvalid()">
                    <small class="text-error" > Password should not contain your first or last name. </small>
                </div>
            </div>

            <div class="button-container">
                <button type="submit" [disabled]="signupForm.invalid || isLoading">
                    Sign Up
                </button>
                <span *ngIf="isLoading" class="spinner"></span>
            </div>
        </form>
    </section>
</main>
